html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #0B0003;
    margin: 0px 0px;
    padding: 0;
}

#hero {
    min-height: 700px;
    background: url(.//myimages/hero\ bkgrnd.png);
    background-position: center;
    background-size: cover;
    color: #F9F2F3;
}

.sections {
    min-height: 54px;
    display: flex;
    background-color: #252934;
    justify-content: flex-end;
    padding-right: 150px;
}

.secktion {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    font-weight: 550;
}

.nav {
    text-decoration: none;
    color: #F9F2F3;
}

.nav:hover {
    border: 1px solid #95233F;
    border-radius: 40px;
    background-color: #F9F2F3;
    color:#95233F;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: bold;
}

.spann {
    color:#95233F;
}

.hero-text {
    text-align: center;
    justify-content: center;
    margin-top: 261px;
    font-size: 44px;
}

.span {
    color: #95233F;
}

.span:hover {
    color:#CA919F;
}

.btn {
    background-color: #0B142C;
    border-radius: 100px;
    color: #F9F2F3;
    font-size: 18px;
    text-align: center;
    width: 190px;
    height: 60px;
    margin-left: 40%;
}

.btn:hover {
    cursor: pointer;
    color: #95233F;
    background-color: #F9F2F3;
    border-color: #95233F;
    font-weight: bold;
}

#features {
    min-height: 1336px;
    justify-content: center;
}

.kontaken {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ceo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.intro {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 415px;
}

.kenny {
    width: 238px;
    height: 238px;
    border-radius: 50%;
}

.truxt {
    margin-top: 117px;
}

.trust-text {
    text-align: center;
    font-size: 23px;
    color: #95233F;
}

.trustees {
    display: flex;
    gap: 100px;
    margin-top: 25px;
    justify-content: center;
}

.soore {
    width: 178px;
    height: 100px;
}

.ipsum {
    width: 178px;
    height: 100px;
}

.setengah {
    width: 178px;
    height: 100px;
}

.bundar {
    width: 178px;
    height: 100px;
}

.intuit {
    text-align: center;
}

.stack-text {
    margin-top: 125px;
    text-align: center;
    font-size: 23px;
    color: #95233F;
}

.intuitive {
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}

.stack-solve {
    display: flex;
    flex-direction: row;
    gap: 26px;
    margin-top: 25px;
    margin-bottom: 41px;
    justify-content: center;
}

.kbox {
    width: 344px;
    height: 297.27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.kbox:hover {
    border: 3px solid #95233F;
}

/* .borderstack {
    border: 3px solid #95233F
} */

.icons {
    align-self: center;
}

.stack {
    font-size: 23px;
    text-align: center;
    margin-top: 5px;
}

.solve {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

#projects {
    min-height: 897px;
}

.probody {
    padding: 70px 0px 0px 130px;
}

.pro {
    font-size: 23px;
    color: #95233F;
}

.proturner {
    font-size: 35px;
}

.explore {
    display: flex;
    font-size: 18px;
    margin-top: 23px;
    padding-right: 150px;
    justify-content: flex-end;
    text-decoration: none;
    color: #000000;
}

.explore:hover {
    color: #95233F;
    font-weight: bold;
}

.project-images {
    margin-top: 70px;
    display: flex;
    gap: 36px;
    padding-left: 130px;
}

.projun {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.projdeux {
    width: 400px;
    height: 400px;
    border-radius: 12px;
    margin-top: -40px;
}

.projtrois {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.circle-loading {
    display: flex;
    gap: 24px;
    margin-top: 60px;
    justify-content: center;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #95233F;
}

.deux, 
.trois,
.quatre,
.cinq {
    opacity: 70%;
}

#about {
    min-height: 1656px;
}

.article-set {
    width: 300px;
    height: 134px;
    padding: 161px 0px 0px 130px;
}

.article-format {
    width: 670px;
    height: 556px;
    margin-top: 199px;
    padding-right: 130px;
}

.isioma {
    display: flex;
    gap: 250px;
}

.artics {
    font-size: 23px;
    color: #95233F;
}

.artica {
    font-size: 35px;
}

.artice {
    font-size: 18px;
}

.partich {
    text-decoration: none;
    color: #0B0003;
}

.partich:hover {
    color: #95233F;
    font-weight: bold;
}

.fullweb {
    padding-left: 130px;
}

.omakay {
    display: flex;
    gap: 150px;
    margin-top: 110px;
}

.fullwebe {
    font-size: 23px;
    color:#95233F;
}

.fullweba {
    font-size: 35px;
}

.fullwebu {
    font-size: 18px;
}

.keypad {
    font-size: 18px;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    padding-top: 21px;
}

.fullstock {
    display: flex;
    gap: 25px;
    margin-top: 66px;
    justify-content: center;
}

.grike {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fullun {
    width: 310px;
    height: 561px;
    border-radius: 12px;
}

.fulldeux {
    width: 430px;
    height:561px;
    border-radius: 12px;
}

.fulltrois {
    width: 310px;
    height: 272px;
    border-radius: 12px;
}

.fullquatre {
    width: 310px;
    height: 272px;
    border-radius: 12px;
}

.fullun:hover {
    border: 3px solid #95233F
}

.fulldeux:hover {
    border: 3px solid #95233F
} 

.fulltrois:hover {
    border: 3px solid #95233F
}

.fullquatre:hover {
    border: 3px solid #95233F;
}

#contact {
    min-height: 549px;
    margin-top: -29px;
}

.ready {
    padding-top: 100px;
    padding-left: 130px;
}

.ready h2 {
    font-size: 35px;
}

.kontact {
    color:#95233F;
    text-decoration: none;
}

.kontact:hover {
    text-decoration: underline;
}

.kont {
    text-decoration: underline;
}

.adhead {
    font-size: 35px;
}

.mail {
    font-size: 18px;
    text-decoration: none;
    color: #0B0003;
}

.mail:hover {
    color: #95233F;
    font-weight: bold;
}

.keynotes {
    font-size: 18px;
    display: flex;
    gap: 60px;
}

.keylinks {
    text-decoration: none;
    color:#0B0003;
}

.keylinks:hover {
    color: #95233F;
}

.key {
    display: flex;
    flex-direction: column;
}

.omahlay {
    display: flex;
    gap: 200px;
    margin-top: 72px;
    padding-left: 130px;
}

footer {
    min-height: 54px;
    background-color: #252934;
    color: #ffffff;
    display: flex;
}

.foocial {
    display: flex;
    gap: 500px;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 130px;
}

.foot {
    font-size: 14px;
}

.footial {
    display: flex;
    flex-direction: row;
}

.social {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

/* body {
    background-color: aquamarine;
  }

  @media (min-width: 319px) and (max-width: 480px) {
    body {
      background-color: lightsalmon;
    }
  }

  @media (min-width: 481px) and (max-width: 1200px) {
    body {
      background-color: powderblue;
    }
  }

  @media (min-width: 1201px) and (max-width: 1600px) {
    body {
      background-color: limegreen;
    }
  }

  @media (min-width: 1601px) {
    body {
      background-color: seagreen;
    }
  } */

    @media (min-width: 319px) and (max-width: 480px) {
    html, body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #ffffff;
        color: #0B0003;
        margin: 0px 0px;
        padding: 0;
    }

    
    
    #hero {
        min-height: 932px;
    }

    .hero-text {
        margin-top: 391px;
        font-size: 23px;
    }
    
    .btn {
        font-size: 14px;
        width: 150px;
        height: 47px;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
    }

    .ceo {
        margin-top: 50px;
    }

    .intro {
        font-size: 15px;
        padding: 0px 59px;
    }

    .kenny {
        width: 119px;
        height: 119px;
        border-radius: 50%;
    }

    .truxt {
        margin-top: 90px;
    }
    
    .trust-text {
        font-size: 20px;
    }

    .trustees {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 43px;
        margin-top: 25px;
        justify-content: center;
        padding: 0px 50px;
        align-items: center;
        padding: 0px 70px;
    }
    
    
    .soore {
        width: 120px;
        height: 67px;
    }
    
    .ipsum {
        width: 120px;
        height: 67px;
    }
    
    .setengah {
        width: 120px;
        height: 67px;
    }
    
    .bundar {
        width: 120px;
        height: 67px;
    }
    
    .stack-text {
        font-size: 20px;
        margin-top: 80px;
    }
    
    .intuitive {
        font-size: 29px;
    }
    
    .stack {
        font-size: 20px;
    }
    
    .solve {
        font-size: 15px;
    }

    .stack-solve {
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin-top: 40px;
        margin-bottom: 41px;
        justify-content: center;
        align-items: center;
    }
    
    .kbox {
        width: 314px;
        height: 226px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    
    .probody {
        padding: 60px 50px 0px 50px;
    }

    .explore {
        font-size: 14px;
    }

    .xplore {
        width: 300px;
        margin-left: 250px;
        margin-right: 50px;
    }

    .project-images {
        padding-left: 50px;
        gap: 12px;
    }
    
    .projun {
        width: 120px;
        height: 150px;
        border-radius: 12px;
    }
    
    .projdeux {
        width: 120px;
        height: 150px;
        border-radius: 12px;
        margin-top: -40px;
    }
    
    .projtrois {
        width: 120px;
        height: 150px;
        border-radius: 12px;
    }
    
    .circle-loading {
        gap: 15px;
        align-items: center;
    }
    
    .circle {
        width: 7px;
        height: 7px;
  }

    .article-set {
    width: 209px;
    height: 134px;
    padding: 0px 0px 0px 50px;
}

    .article-format {
    width: 330px;
    height: 669px;
    padding-left: 50px;
    margin-top: 50px;
}

    .isioma {
    display: flex;
    flex-direction: column;
    gap: 0px;
}


    .artics {
    font-size: 20px;
}

.artica {
    font-size: 29px;
}

.artice {
    font-size: 15px;
}

.fullweb {
    padding-left: 50px;
}

.fullwebe {
    font-size: 20px;
}

.fullweba {
    font-size: 29px;
}

.fullwebu {
    font-size: 15px;
}

.keypad {
    font-size: 15px;
    padding: 0px 50px;
}

.omakay {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.fullun {
    width: 165px;
    height: 139px;
}

.fulldeux {
    width: 165px;
    height:139px;
}

.fulltrois {
    width: 165px;
    height: 195px;
}

.fullquatre {
    width: 165px;
    height: 109px;
}

.ready {
    padding: 0px 50px;
}

.ready h2 {
    font-size: 29px;
}

.adhead {
    font-size: 29px;
}

.mail {
    font-size: 15px;
}

.omahlay {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0px 0px 90px 0px;
}

.ads {
    padding-left: 50px;
}

.keynotes {
    font-size: 15px;
    gap: 40px;
    justify-content: center;
}

.foocial {
    padding: 50px 0px 70px 0px;
    gap: 60px;
    justify-content: center;
}

  }

    @media (min-width: 481px) and (max-width: 1200px) {
    html, body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #ffffff;
        color: #0B0003;
        margin: 0px 0px;
        padding: 0;
    }

    
    
    #hero {
        min-height: 932px;
    }

    .hero-text {
        margin-top: 391px;
        font-size: 23px;
    }
    
    .btn {
        font-size: 14px;
        width: 150px;
        height: 47px;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
    }

    .ceo {
        margin-top: 50px;
    }

    .intro {
        font-size: 15px;
        padding: 0px 59px;
    }

    .kenny {
        width: 119px;
        height: 119px;
        border-radius: 50%;
    }

    .truxt {
        margin-top: 90px;
    }
    
    .trust-text {
        font-size: 20px;
    }

    .trustees {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 43px;
        margin-top: 25px;
        justify-content: center;
        padding: 0px 50px;
        align-items: center;
    }
    
    
    .soore {
        width: 120px;
        height: 67px;
    }
    
    .ipsum {
        width: 120px;
        height: 67px;
    }
    
    .setengah {
        width: 120px;
        height: 67px;
    }
    
    .bundar {
        width: 120px;
        height: 67px;
    }
    
    .stack-text {
        font-size: 20px;
        margin-top: 80px;
    }
    
    .intuitive {
        font-size: 29px;
    }
    
    .stack {
        font-size: 20px;
    }
    
    .solve {
        font-size: 15px;
    }

    .stack-solve {
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin-top: 40px;
        margin-bottom: 41px;
        justify-content: center;
        align-items: center;
    }
    
    .kbox {
        width: 314px;
        height: 226px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    
    .probody {
        padding: 60px 50px 0px 50px;
    }

    .explore {
        font-size: 14px;
    }

    .xplore {
        width: 300px;
        margin-left: 250px;
        margin-right: 50px;
    }

    .project-images {
        padding-left: 50px;
        gap: 12px;
    }
    
    .projun {
        width: 120px;
        height: 150px;
        border-radius: 12px;
    }
    
    .projdeux {
        width: 120px;
        height: 150px;
        border-radius: 12px;
        margin-top: -40px;
    }
    
    .projtrois {
        width: 120px;
        height: 150px;
        border-radius: 12px;
    }
    
    .circle-loading {
        gap: 15px;
        align-items: center;
    }
    
    .circle {
        width: 7px;
        height: 7px;
  }

    .article-set {
    width: 209px;
    height: 134px;
    padding: 0px 0px 0px 50px;
}

    .article-format {
    width: 330px;
    height: 669px;
    padding-left: 50px;
    margin-top: 50px;
}

    .isioma {
    display: flex;
    flex-direction: column;
    gap: 0px;
}


    .artics {
    font-size: 20px;
}

.artica {
    font-size: 29px;
}

.artice {
    font-size: 15px;
}

.fullweb {
    padding-left: 50px;
}

.fullwebe {
    font-size: 20px;
}

.fullweba {
    font-size: 29px;
}

.fullwebu {
    font-size: 15px;
}

.keypad {
    font-size: 15px;
    padding: 0px 50px;
}

.omakay {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.fullun {
    width: 165px;
    height: 139px;
}

.fulldeux {
    width: 165px;
    height:139px;
}

.fulltrois {
    width: 165px;
    height: 195px;
}

.fullquatre {
    width: 165px;
    height: 109px;
}

.ready {
    padding: 0px 50px;
}

.ready h2 {
    font-size: 29px;
}

.adhead {
    font-size: 29px;
}

.mail {
    font-size: 15px;
}

.omahlay {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0px 0px 90px 0px;
}

.ads {
    padding-left: 50px;
}

.keynotes {
    font-size: 15px;
    gap: 40px;
    justify-content: center;
}

.foocial {
    padding: 50px 0px 70px 0px;
    gap: 60px;
    justify-content: center;
}

  }

  /* @media (min-width: 1201px) and (max-width: 1600px) {

  }

  @media (min-width: 1601px) {

  }  */
    